footer {
  padding: 48px 72px 24px;
  background-color: #222;
  @media  #{$phone} {
    padding: 30px;
  }
}
.footer-links {
  color: #fff;
  font-size: 17px;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 40px;
  .link-title {
    padding-bottom: 30px;
  }
}
.link-list {
  list-style-type: none;
  padding: 0;
  text-transform: none;
  a {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    line-height: 2em;
  }
  p {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    line-height: 2em;
    margin: 0;
    line-height: 1.8;
  }
}
.foot-logos {
  padding-top: 166px;
  padding-bottom: 25px;
  @media  #{$phone} {
    padding-top: 0px;
  }
}
.foot-logo {
  max-height: 25px;
  padding: 5px 10px;
}
.foot-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer {
  display: block;
  margin-top: 50px;
  background-color: white;
  font-size: 14px;
  color: #4a4a4a;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #ebebf2;
}
.footer__main {
  display: flex;
  flex: row;
  justify-content: space-between;
  @media  #{$phone} {
    flex-direction: column;
  }
  .crypto__index {
    list-style-type: none;
    display: flex;
    flex: row;
    padding: 0;
    @media  #{$phone} {
      flex: row wrap;
    }
    .crypto__item {
      position: relative;
      padding-right: 10px;
      &:not(:first-child) {
        padding: 0 10px;
      }
      &:after {
        position: absolute;
        content: "'";
        bottom: -6px;
        right: 4px;
        @media  #{$phone} {
          content: "";
        }
      }
    }
  }
}
.footer__social-links {
  @media  #{$phone} {
    display: flex;
    justify-content: space-between;
  }
  .fa {
    padding: 0 24px;
  }
}
