.footer-links {
  color: #fff;
  font-size: 17px;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 40px;
  .link-title {
    padding-bottom: 30px;
  }
}
.link-list {
  list-style-type: none;
  padding: 0;
  text-transform: none;
  a {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    line-height: 2em;
  }
  p {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    line-height: 2em;
    margin: 0;
    line-height: 1.8;
  }
}
.foot-logos {
  padding-top: 166px;
  padding-bottom: 25px;
  @media  #{$phone} {
    padding-top: 0px;
  }
}
.foot-logo {
  max-height: 25px;
  padding: 5px 10px;
}
.foot-icon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer {
  display: block;
  margin-top: 50px;
  font-size: 14px;
  color: $brand-color;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 980px;
  margin: 0 auto;

  p {
    text-align: center;
  }
  @media  #{$phone} {
    padding: 30px;
  }
}
.footer__main {
  display: flex;
  flex: row;
  border-top: 1px solid $brand-color;
  padding-top: 20px;
  margin-bottom: 30px;
  // justify-content: space-between;
  @media  #{$phone} {
    flex-direction: column;
  }
  .crypto__index {
    list-style-type: none;
    display: flex;
    flex: row;
    padding: 0;
    @media  #{$phone} {
      flex: row wrap;
    }
    .crypto__item {
      position: relative;
      padding-right: 10px;
      &:not(:first-child) {
        padding: 0 10px;
      }
      &:after {
        position: absolute;
        content: "'";
        bottom: -6px;
        right: 4px;
        @media  #{$phone} {
          content: "";
        }
      }
    }
  }
}
.footer__col {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  &--list {
    list-style-type: none;
    text-transform: none;
    margin: 0;
    padding: 5px 0 0;
    font-size: 0.8em;
    font-weight: normal;
  }
}
.footer__social-links {
  padding: 20px 0 30px;
  a {
    background-color: $brand-color;
    padding:5px;
    border-radius: 50px;
    margin: 5px 10px;
  }
  @media  #{$phone} {
    display: flex;
    justify-content: space-between;
  }
  .fa {
    padding: 0 4px;
  }
}

.form-foot {
  font-size: 16px;
  text-transform: none;
  form {
    margin-top: 20px;
    font-weight: normal;
  }
  .foot-input {
    height: 36px;
    width: 250px;
    border-radius: 0;
  }
  .btn-foot {
    height: 36px;
    width: 150px;
    border-radius: 0;
    background-color: $highlight;
    color: $brand-color;
  }
}
