.header {
  max-width: 980px;
  margin: 0 auto;
  color: $highlight;
  &--light {
    background-color: $backg-light;
  }
  @media  #{$phone} {
    padding: 30px;
  }
}
.main-nav {
  background-color: $brand-color;
  color: $highlight;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  min-height: 84px;
  &--light {
    background-color: $backg-light;
  }
  .navbar-brand.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 250px;
    border-radius: 4px;
    margin: 0;
  }
  .sub-nav {
    background-color: $brand-color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    &__list {
      padding: 5px 0;
      margin-right: 10px;
      border-top: 1px solid $highlight;
      border-bottom: 1px solid $highlight
    }
    @media  #{$phone} {
      background-color: $brand-color;
    }
  }
  i {
    color: white;
  }
} // /main-nav


.nav-item {
  color: $highlight;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  @media  #{$phone} {
    color: $backg-dark!important;
    align-content: left;
    justify-content: flex-start;
  }
  &.active {
    border-top: 3px solid #fff;
  }
  a.nav-link {
    color: $highlight!important;
    text-transform: uppercase;
    font-weight: 100;
    opacity: 0.7;
    font-size: 0.875rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }

} // /nav-item

.hero {
  margin-top: 90px;
  &--banner { //hero--banner
    position: relative;
    border-top: 1px solid $brand-color;
    &:before {
      content: '';
      position: absolute;
      background-image: url(../img/Phone-mock.png);
      background-size: contain;
      top: 20px;
      right: -350px;
      width: 600px;
      height: 451px;
      background-repeat: no-repeat;
      @media  #{$phone} {
        display: none;
      }
    }
  }
  .hero-title {
    padding-bottom: 25px;
        color: $brand-color;
    &__main {
      font-family: $roboto;
    }
    &__sub {
      font-family: $open-sans;
      font-size: 24px;
      width: 450px;
      border-bottom: 1px solid $brand-color;
      padding-bottom: 10px;
      .highlight {
        color: $highlight;
      }
    }
  }
  @media  #{$phone} {
    margin-top: 40px;
  }
}
.row--hero {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  @media  #{$phone} {
    margin-bottom: 40px
  }
}
.chart-wrap {
  float: right;
  img {
    width: 500px;
    height: auto;
  }
  @media  #{$phone} {
    float: none;
    padding-top: 30px;
  }
  &:after {
    clear: both;
  }
  img {
    @media  #{$phone} {
      width: 320px;
      text-align: center;
    }
  }
}

.trade {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  &__rates {
    display: flex;
    justify-content: center;
    padding: 10px;
    p {
      padding: 0 15px;
      margin: 0;
    }
  }
  &__index {
    .crypto__index {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin-bottom: 0;
      padding: 10px;
    }
    .crypto__item {
      padding: 0 10px;
    }
  }
}
