.btn-default {
  color: $brand-color;
  background-color: $highlight;
  height: 50px;
  padding: 0px 20px;
  border-radius: 4px;
}
.btn-lg {
  height: 48px;
  width: 350px;
}
.btn-search {
  background-color: $highlight;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.btn-grp {
  border-radius: 0;
  background-color: #fff;
  color: #b3b3b3;
  border: solid 1px #ebebf2;
  &:first-child {
    border-radius: 0;
  }
  &:last-child {
    border-radius: 0;
  }
  &:hover {
    background-color: #b3b3b3;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
  }
  &:focus {
  box-shadow: none;
  }
  &.active {
    background-color: #b3b3b3;
    color: #fff;
    box-shadow: none;
  }
  @media  #{$phone} {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.br-0 {
  border-radius: 0!important;
}
.flex-btn {
  width: 340px;
  color: #ffffff;
  background-color: #3e98f5;
  align-self: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 3px;
}
